.ct {
    background-color: #c8d6e7;
    margin-top: -29px;
    text-align: center;
    justify-content: center;
    font-size: large;
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: 'Tangerine', serif; */
    font-family: 'Kalam', cursive;
    text-shadow: 4px 4px 4px #aaa;
    

}
h3{
    font-family: 'Kalam', cursive;
}
